root {
    --title-color: rgb(37, 40, 43);
    --text-color: rgb(130, 130, 130);
    --main-text-title: rgb(51, 51, 51);
}

body {
    font-family: sans-serif;
    font-size: 18px;
    background: #fff;
    font-weight: 500;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

h1 {
    color: var(--title-color);
    font-size: 54px;
    font-weight: 700;
    line-height: 120%;
}

a {
    color: var(--title-color);
}